<div class="bg-white p-4 rounded shadow" >
    <h3 class="font-semibold" style="font-size: 25px;">Add Craft</h3>
    <form method="POST" action="/marketplace/create" enctype="multipart/form-data">
      <input name="name" placeholder="Craft name" class="w-full border p-2 mt-2" />
      <input name="price" placeholder="Price" class="w-full border p-2 mt-2" />
      <input name="originState" placeholder="Origin state" class="w-full border p-2 mt-2" />
      <input name="sellerId" placeholder="Seller ID (from register)" value="<%= user._id %>" class="w-full border p-2 mt-2" />
      <input name="images" type="file" multiple class="w-full border p-2 mt-2" />
      <textarea name="description" placeholder="Description" class="w-full border p-2 mt-2"></textarea>
      <button class="mt-2 px-4 py-2 bg-amber-700 text-white rounded">Add Craft</button>
    </form>
  </div>